<ng-container [formGroup]="form">
  <mat-form-field>
    <mat-label>name</mat-label>
    <mat-select formControlName="name" required>
      <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>level</mat-label>
    <mat-select formControlName="level" required>
      <mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>
