<ng-container [formGroup]="componentForm">
  <mat-form-field>
    <mat-label>type</mat-label>
    <mat-select formControlName="type" required>
      <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field>
    <mat-label>restriction</mat-label>
    <mat-select formControlName="restriction" required>
      <mat-option *ngFor="let restriction of restrictions" [value]="restriction">{{restriction}}</mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <label>
    <input matInput formControlName="minRedundancy" required type="number" placeholder="min redundancy">
  </label>

  <br>

  <label>
    <input matInput formControlName="maxSolution" required type="number" placeholder="max solution">
  </label>
</ng-container>
