<ng-container [formGroup]="form">
  <mat-form-field>
    <mat-label>context provider name</mat-label>
    <mat-select #selectedContextProvider formControlName="selectedContextProviderName" [(value)]="initialName"
                (selectionChange)="onSelectionChange($event)">
      <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div [ngSwitch]="selectedContextProvider.value">
    <app-grid-context-provider *ngSwitchCase="'grid'"
                               formControlName="selectedContextProvider"></app-grid-context-provider>
    <app-autolevel-context-provider *ngSwitchCase="'autolevel'"
                                    formControlName="selectedContextProvider"></app-autolevel-context-provider>
  </div>
</ng-container>
